<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [31]:
import pandas as pd

Load the dataset into a dataframe.

In [32]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [33]:
# your code goes here
df.duplicated().sum()

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [34]:
# your code goes here
df.drop_duplicates(inplace=True)

Verify if duplicates were actually dropped.

In [35]:
# your code goes here
df.duplicated().sum()

0

In [59]:
#len(df['Respondent'].unique())
#df['EdLevel'].duplicated().sum()

11388

## Finding Missing values

Find the missing values for all columns.

In [36]:
# your code goes here
pd.set_option('display.max_rows', len(df.columns))
df.isnull().sum().sort_values(ascending=False)

BlockchainIs              2610
CodeRevHrs                2426
BlockchainOrg             2322
MiscTechWorkedWith        2182
SONewContent              1965
SOHowMuchTime             1917
WebFrameDesireNextYear    1617
MiscTechDesireNextYear    1455
WebFrameWorkedWith        1393
SOPartFreq                1128
DatabaseDesireNextYear    1042
ConvertedComp              816
CompTotal                  809
UndergradMajor             737
Ethnicity                  675
PlatformDesireNextYear     544
Sexuality                  542
ScreenName                 507
MgrMoney                   497
MgrIdiot                   493
MgrWant                    493
DatabaseWorkedWith         453
LastInt                    413
PlatformWorkedWith         411
SOVisit1st                 325
SocialMedia                293
Age                        287
CompFreq                   206
PurchaseHow                196
WorkChallenge              164
EduOther                   164
Dependents                 140
LanguageDesireNextYear     134
Trans                      123
WorkWeekHrs                122
WorkPlan                   121
EdLevel                    112
BetterLife                  98
OrgSize                     96
WelcomeChange               85
Containers                  82
OpenSource                  81
Gender                      73
DevType                     65
Student                     51
SOTimeSaved                 50
ResumeUpdate                39
OffOn                       38
PurchaseWhat                38
FizzBuzz                    37
ITperson                    35
OpSys                       34
WorkLoc                     32
UnitTests                   29
DevEnviron                  29
Extraversion                20
SurveyLength                19
YearsCodePro                16
SurveyEase                  14
Age1stCode                  13
LanguageWorkedWith          11
YearsCode                    9
WorkRemote                   8
SOJobs                       6
ImpSyn                       5
EntTeams                     5
SOVisitFreq                  5
SOFindAnswer                 3
JobFactors                   3
SOVisitTo                    1
SOAccount                    1
JobSat                       1
CodeRev                      1
CurrencyDesc                 0
Hobbyist                     0
OpenSourcer                  0
Employment                   0
Country                      0
SOComm                       0
CareerSat                    0
JobSeek                      0
MainBranch                   0
LastHireDate                 0
CurrencySymbol               0
Respondent                   0
dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [37]:
# your code goes here
df['WorkLoc'].isnull().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [38]:
# your code goes here
df['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

In [61]:
df['UndergradMajor'].value_counts()

Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [39]:
#make a note of the majority value here, for future reference
#
majorityWorkLoc = df['WorkLoc'].mode()
majorityWorkLoc

0    Office
dtype: object

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [40]:
# your code goes here
import numpy as np
df['WorkLoc'].replace(np.nan, 'Office', inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [41]:
# your code goes here
df['WorkLoc'].isnull().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [42]:
# your code goes here
list(set(df['CompFreq']))

[nan, 'Monthly', 'Weekly', 'Yearly']

In [64]:
len(df[df['CompFreq'] == 'Yearly'])

6073

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

In [53]:
# your code goes here
# CompTotal should be adjusted to annually
replace  ={'Yearly': 1, 'Monthly': 12, 'Weekly': 52} 

# Helper column for producting adjusted 'CompTotal'
adjust_product = df['CompFreq'].map(replace)

# Creating column 'NormalizedAnnualCompensation'
df['NormalizedAnnualCompensation'] = adjust_product * df['CompTotal']

print(df['NormalizedAnnualCompensation'].head(), df['NormalizedAnnualCompensation'].tail())

0     61000.0
1    138000.0
2     90000.0
3    348000.0
4     90000.0
Name: NormalizedAnnualCompensation, dtype: float64 11547    130000.0
11548     74400.0
11549    105000.0
11550     80000.0
11551         NaN
Name: NormalizedAnnualCompensation, dtype: float64

In [65]:
df['NormalizedAnnualCompensation'].median()

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).